fugashi==1.2.0
flair==0.11.3
imbalanced-learn==0.9.1
ipadic==1.0.0
ja-sentence-segmenter==0.0.2
lightgbm==3.3.2
matplotlib==3.5.3
mecab-python3==1.0.5
nltk==3.7
noyaki==0.2.0
numpy==1.23.2
optuna==3.0.1
pandas==1.4.4
scikit-learn==1.1.2
seaborn==0.12.0
sentencepiece==0.1.95
seqeval==1.2.2
unidic-lite==1.0.8

# PyTorch
torch==1.12.1+${DEVICE_TYPE}
torchaudio==0.12.1
torchtext==0.13.1
torchvision==0.13.1+${DEVICE_TYPE}
-f https://download.pytorch.org/whl/torch_stable.html

# JupyterLab周りのライブラリ
ipylab==0.6.0
ipywidgets==8.0.2
jupyterlab==3.4.6
jupyterlab-git==0.39.2
jupytext==1.14.1
tqdm==4.64.1
